<launch>
    <!-- <arg name="rname" default="laikago"/> -->
    <!-- <param name="robot_name" value="$(arg rname)"/> -->

    <node pkg="joy" type="joy_node" name="joy_node" output="screen"></node>
    
    <node pkg="wtr_serial" type="wtr_serial" name="wtr_serial_node" output="log"></node>

    <node pkg="main_ctrl" type="main_ctrl" name="main_ctrl_node" output="screen"></node>
    
</launch>